{% extends 'skeleton.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block nav %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}

{{form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-primary">téléverser</button>
{{form_end(form)}}

{% endblock %}


{% block footer %}
    
{% endblock %}
