{% extends 'skeleton.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block nav %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}
<h1 id="home-title">Mon E-Commerce</h1>

    <div class="container">
        <div class="row">

    {% for row in result %}
            <div class="col-md-6">
                <div class="card">
                        
                        <h4 class="card-header">{{row.name}}</h5>
                        <h5 class="card-body">{{row.price}}</h5>
                        <div class="card-body">{{row.category}}</div>
                        <img class="card-img-bottom img-fluid" src="{{asset('uploads/images/'~row.image)}}" alt="{{row.name}}">
                        
                        

                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('articleDelete',{id:row.id})}}" class="btn btn-danger">Supprimer</a>
                        <a href="{{path('articleUpdate',{id:row.id})}}" class="btn btn-dark">MAJ</a>
                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                        <a href="{{path('add',{article:row.id})}}" class="btn btn-success">Add to Cart</a>
                        {% endif %}

                    <div class="card-body">
                            <div class="card-text">Description:{{row.description}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    {% block cart %}

    {% if is_granted('ROLE_ADMIN') %}

<a href="{{path('articleCreation')}}" class="addBtn btn btn-danger offset-md-4 col-md-4 offset-md-4">Ajouter un produit !</a>
    {% endif %}
</div>
        

    {% block pagination %}
    {% include "_pagination.html.twig" %}
    {% endblock %}

{% endblock %}


{% block footer %}
    
{% endblock %}
{% endblock %}
