/*<------------------------------------------------------------------DROPDOWN SHOPPING CART--------------------------------------------------------->*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

/*-------------------------------------------------------------------BANNER-----------------------------------------------------------------------*/
    
  .banner {
    width:100%;
    height:150%;
    height:calc(150% - 1px);
    background-color: black;
  }
  
  .banner img {
    width:100%;
    height: 150%;
  }
  
  .logo {
    color:#fff;
    font-weight:bolder;
    font-size:14pt;
    padding:25px;
    text-align:center;
  }

  .logo a {
      color: #fff;
  }
  
  .line {

      padding:20px;
      white-space: nowrap;
      overflow:hidden;
      text-align:center;
      
  }


  /*------------------------------------------------------------------------BODY-----------------------------------------------------------------------------*/

 #home-title, #cart-title {
    
    margin: 50px;
    text-align: center;
  }


  .card {
      display: flex;
      margin: 2%;
      width: 60%;
      height: 70%;
  }

  .card img {
    max-height: 322px;
    max-width: 322px;
       
  }
