{% extends 'skeleton.html.twig' %}

{% block main %}

{% if error %}
    <p>{{error.message}}</p>
{% endif %}

<form action="{{path('login')}}" method="POST">
    <label>Email : </label>
    <input type="email" name="_username" value="{{lastEmail}}">
    <label>Password : </label>
    <input type="password" name="_password">
    <button type="submit">Login</button>
</form>

{% endblock %}
