{% extends "skeleton.html.twig" %} 


{% block title %}
    Panier
{% endblock %}

{% block nav %}
    {% include "_navbar.html.twig" %}
{% endblock %}


{% block main %}
    

<h4 id="cart-title">Mon Panier:</h4>

<table class="table table-striped table-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produit</th>
            <th scope="col">Photo</th>
            <th scope="col">Quanité</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for line_cart in shopping_cart.getLineCart %}


        <tr>
            <th scope="row"> </th>
            <td>{{line_cart.getIdProduct().name}}</td>
            <td> <img src="{{line_cart.getIdProduct().image}}" alt=""></td>
            <td>{{line_cart.price}}</td>
            <td>{{line_cart.quantity}}</td>
        </tr>

     {% endfor %}
     <tr>
         <th scope="row"> Total: {{shopping_cart.getTotal()}} </th>
     </tr>
    </tbody>
</table>
<div class="row">
<a class="btn btn-dark offset-md-4 col-md-2" href="#"> Valider </a>
<a class="btn btn-danger col-md-2" href="{{path('home')}}"> Retour</a>
</div>
{% endblock %}