
<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" id="navbar">

  <!-- Brand -->
  <a class="navbar-brand" href="{{path('home')}}">Logo</a>

  <ul class="nav navbar-nav">
    {% if is_granted('ROLE_ADMIN') %}
    <!-- Dropdown -->
    <!-- Gérer par la suite l'adaptabilité du dropdown-->
    <li class="nav-item ">

      <a class="nav-link" href="{{path('logout')}}">Se déconnecter</a>

      {% elseif is_granted('ROLE_USER') %}

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profil
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href=" {{path('profile',{'id':app.user.id})}} ">Profil</a></li>
        <li><a href=" {{path('order')}} ">Historique des commandes</a></li>
        <li><a href=" {{path('logout')}} ">Se déconnecter</a></li>
      </ul>
    </li>

    </li>
  </ul>

  </ul>
  <ul class="nav navbar-nav navbar-right ml-auto">
    <li class="dropdown">
      <a href="{{path('shopping_cart', {id:app.user.id})}}">
        <span class="glyphicon glyphicon-shopping-cart">
          <span class="caret">Mon panier</span>
      </a>
    </li>
  </ul>



  {% else %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Se connecter
      <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href=" {{path('login')}} ">Se connecter</a></li>
      <li><a href=" {{path('sign_up')}} ">S'inscrire</a></li>
    </ul>
  </li>

  {% endif %}

</nav>

<div class="wide">
  <div class="col-xs-5 line"><hr></div>
  <div class="col-xs-2 logo">Logo</div>
  <div class="col-xs-5 line"><hr></div>
</div>