<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>
        7 - Items<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-cart" role="menu">
        <li>
          <span class="item">
  
            <span class="item-left">
              <span class="item-info">
                {# <span>{{line_cart.getIdProduct().name}}</span>
                <span>{{line_cart.price}}</span>
                <span>{{line_cart.quantity}}</span> #}
              </span>
            </span>
            <span class="item-right">
              <button class="btn btn-xs btn-danger pull-right">x</button>
            </span>
          </span>
        </li>
  
        <li class="divider"></li>
        <li><a class="text-center" href="">View Cart</a></li>
      </ul>
    </li>
  </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->