{% extends 'skeleton.html.twig' %}

{% block title %}Créez vos articles {% endblock %}

{% block header %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Valider</button>
{{ form_end(form) }}

{% endblock %}

